<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $('#btn').on("click",function () {
                location.href="http://localhost:8080/hello"
            })
        });
    </script>
</head>
<body>
<h1 th:text="${msg}">无</h1>
<button id="btn" type="button">Click Me!</button>
<img src="/images/tt1.jpg">
</body>
</html>